<%@ page contentType="text/html; charset=UTF-8" %>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="left">
      <span class="spanLink" title="หน้าที่แล้ว">[<]</span>
      หน้าที่
      <select style="width:50">
        <option selected >1</option>
        <option >2</option>
        <option >3</option>
        <option >4</option>
      </select>
      จาก 4 หน้า
      <span class="spanLink" title="หน้าถัดไป">[>]</span>
    </td>
    <td align="right">รายการที่ 1-20 จาก 75 รายการ</td>
  </tr>
</table>